*.nii.gz
*.nii
__pycache__
config.m
paths.py
reports/*
reports
*.sif
*.tar
*.log
*.pth
code/Network/modules/*
code/03_Extract_Coordinates/Tables/Tables/*
code/03_Extract_Coordinates/Tables/Figures/*
code/03_Extract_Coordinates/Tables/old/*
code/03_Extract_Coordinates/QC_naming/*
code/03_Extract_Coordinates/QC/*
code/03_Extract_Coordinates/gt_check/*
code/03_Extract_Coordinates/tmp/*
code/Network/Cluster/ablation_results/*
code/Network/Cluster/debug_images/*
code/Network/Cluster/logs/*
code/Network/Cluster/runs/*
code/Network/Cluster/slurm/*

