*.nii.gz
*.nii
__pycache__
config.m
paths.py
reports/*
reports
*.sif
*.tar
code/Network/modules/*
code/Extract_Coordinates/Tables/Tables/*
code/Extract_Coordinates/Tables/Figures/*
code/Extract_Coordinates/Tables/old/*
